#logo {
  display: inline-block;
  padding: 14px 0 14px 85px;
}

#logo img {
  height: 32px;
}

.header-nav {
  display: inline-block;
  padding-right: 80px;
  float: right;
}

.header-nav a {
  display: inline-block;
  text-decoration: none;
  margin: 24px 5px;
  font: menu;
  color: white;
}

/*#pages li {*/
  /*display: inline-block;*/
  /*padding: 25px;*/
/*}*/

/*@media screen and (min-width: 640px) {*/
  /*#burger-menu {*/
    /*display: none;*/
  /*}*/
/*}*/

header {
  height: 64px;
  background-color: #414452;
}
