#load-more-frame {
  margin: 10px 85px;
  padding: 10px;
  border-radius: 6px;
  box-shadow: 0 1px 24px 0 rgba(18, 21, 35, 0.08);
  background-color: #ffffff;
  min-width: 470px;
  text-align: center;
}

.disabled {
  display: none;
}


.test {
  display: flex;
}
.test a {
  vertical-align: center;
  justify-content: center;
/* left right*/
}
