<div id="registration-form-container">
  <div id="registration-form">
    <h3>Registration</h3>
    <h5 class="error-message" *ngIf="error !== null">{{error}}</h5>
    <form name="registrationForm" (ngSubmit)="register()" #registrationForm="ngForm">
      <div class="main">
        <div class="field">
          <label for="login">Login:</label><br/>
          <input id="login" type="text" name="login" [(ngModel)]="username" required><br/>
        </div>
        <div class="field">
          <label for="password1">Password:</label><br/>
          <input id="password1" type="password" name="password" [(ngModel)]="password" required><br/>
        </div>
        <div class="field">
          <label for="password2">Repeat password:</label><br/>
          <input id="password2" type="password" name="repeatedPassword" [(ngModel)]="repeatedPassword" required><br/>
        </div>
      </div>
      <div id="buttons">
        <button type="submit" class="btn btn-sm btn-custom" [disabled]="registrationForm.form.invalid">Register</button>
        <button type="button" class="btn btn-sm btn-custom" (click)="goBack()">Back</button>
      </div>
    </form>
  </div>
</div>
