<header>
  <a id="logo" routerLink="">
    <img src="/assets/images/logo.png" alt="Logo">
  </a>
  <nav class="header-nav" *ngIf="isLoggedIn(); else noAuth">
    <a routerLink="create-course">
      <span>Create a course</span>
    </a>
    <a (click)="signOut()" routerLink="login">
      <img class="smallIcon" src="/assets/images/logout.png" alt=""/><span>Log Out</span>
    </a>
  </nav>
  <ng-template #noAuth>
    <nav class="header-nav">
      <a routerLink="login"><img class="smallIcon" src="/assets/images/login.png" alt=""/><span>Log In</span>
      </a>
    </nav>
  </ng-template>
</header>
