<header>
  <a id="logo" routerLink="">
    <img src="/assets/images/logo.png" alt="Logo">
  </a>
  <nav class="header-nav" *ngIf="isLoggedIn() | async; else noAuth">
    <a id="userNameEl">
      <img class="smallIcon" src="/assets/images/user.png" alt=""/><span>{{getCurrentUser() | async}}</span>
    </a>
    <a id="signOutEl" (click)="signOut()" routerLink="login">
      <img class="smallIcon" src="/assets/images/logout.png" alt=""/><span>Log Out</span>
    </a>
  </nav>
  <ng-template #noAuth>
    <nav class="header-nav">
      <a id="loginEl" routerLink="login"><img class="smallIcon" src="/assets/images/login.png" alt=""/><span>Log In</span>
      </a>
    </nav>
  </ng-template>
</header>
