<div id="course-frame" [appBorderColorByDate]="course.date"
     [ngClass]="course.isTopRated ? 'top-rated-item-color' : 'usual-item-color'">
  <div class="course-information">
    <div class="top-row">
      <div class="title">
        <h4 *appTopRated="course.isTopRated">{{course.name | uppercase}}</h4>
      </div>
      <div class="top-row-time-block">
        <span>{{'SHARED.DATE' | translate}}:<br>{{ course.date | date:'d MMM y'}}</span>
        <span>{{'SHARED.DURATION' | translate}}:<br>{{ course.length | duration }}</span>
      </div>
    </div>
    <p>{{course.description}}</p>
  </div>
  <div class="buttons">
    <button id="editButton" class="btn btn-sm btn-primary" routerLink="{{course.id}}">{{'PAGES.COURSES.EDIT' | translate}}</button>
    <button id="removeButton" class="btn btn-sm btn-primary" (click)="removeCourse()">{{'PAGES.COURSES.REMOVE' | translate}}</button>
  </div>
</div>

