<div id="course-frame" [appBorderColorByDate]="course.creationDate"
     [ngClass]="course.topRated ? 'top-rated-item-color' : 'usual-item-color'">
  <div class="course-information">
    <div class="top-row">
      <div class="title">
        <h4 *appTopRated="course.topRated">{{course.title | uppercase}}</h4>
      </div>
      <div class="top-row-time-block">
        <span>Date/time:<br>{{ course.creationDate | date:'d MMM y'}}</span>
        <span>Duration:<br>{{ course.duration | duration }}</span>
      </div>
    </div>
    <p>{{course.description}}</p>
  </div>
  <div class="buttons">
    <button id="editButton" class="btn btn-sm btn-primary" onclick="alert('not yet')">Edit</button>
    <button id="removeButton" class="btn btn-sm btn-primary" (click)="removeCourse()">Delete</button>
  </div>
</div>

