<app-breadcrumb [links]=breadcrumbLinks></app-breadcrumb>
<div id="courses">
  <form [formGroup]="searchForm" (ngSubmit)="searchCourses(searchForm.get('searchData').value)">
    <app-search formControlName="search"></app-search>
  </form>
  <app-actions></app-actions>
  <div *ngIf="(hasLoadedCourses | async) || (hasMoreCourses | async); else noCourses">
    <app-course *ngFor="let course of loadedCourses | async | orderBy: 'date'" [course]="course" (remove)="removeCourse($event)"></app-course>
    <app-load-more-courses [hasMoreCourses]="hasMoreCourses | async"
                           (loadMoreCourses)="loadMore()"></app-load-more-courses>
  </div>
  <ng-template #noCourses>
    <p id="courses-not-found">{{noCoursesTitle}}</p>
  </ng-template>
</div>
