/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  min-width: 640px;
  min-height: 480px;
}

body {
  margin: 0;
  background-color: #f2f3f7;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@font-face {
  font-family: SourceSansPro;
  src: url(/assets/font/SourceSansPro-Regular.otf);
}

.error-message {
  font-size: small;
  color: red;
  float: right;
  margin-top: 10px;
}

.auth-form-name {
  float: left;
}

.required-label {
  float: right;
  font-size: small;
  color: lightgrey;
  margin: 0;
}
