<app-breadcrumb [links]="breadcrumbLinks"></app-breadcrumb>
<div id="new-course">
  <div id="new-course-form">
    <form name="newCourse" (ngSubmit)="createCourse()" #newCourse="ngForm">
      <div class="field">
        <label for="title">Title: </label> <label class="required-label">*required</label>
        <input class="form-control" id="title" name="title" type="text" [(ngModel)]="newCourse.title" required>
      </div>
    <button id="submit-button" type="submit" class="btn btn-sm btn-success" [disabled]="newCourse.form.invalid">Create</button>
    </form>
  </div>
</div>
