<app-breadcrumb [links]="breadcrumbLinks"></app-breadcrumb>
<div id="new-course">
  <div id="new-course-form">
    <form [formGroup]="form" (ngSubmit)="createCourse()">
      <app-title formControlName="name" [control]="form.get('name')"></app-title>
      <app-description formControlName="description" [control]="form.get('description')"></app-description>
      <app-date formControlName="date" [control]="form.get('date')"></app-date>
      <app-duration formControlName="length" [control]="form.get('length')"></app-duration>
      <app-authors [authors]="authorForms"></app-authors>
      <button id="submit-button" type="submit" class="btn btn-sm btn-success" [disabled]="!form.valid">Save</button>
      <button id="cancel-button" class="btn btn-sm btn-success" type="button" (click)="goBack()">Cancel</button>
    </form>
  </div>
</div>
